.navbar-brand{
  font-size: 35px;
  padding-left: 30px;
  color: whitesmoke;
  left: 140px;
  margin-right: 170px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn btn-primary dropdown-toggle{
  background-color: transparent;
}

li{
  color: azure;
}

mat-icon{
  font-size: 20px;
  display: inline;
}