<body>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <form style="max-width:500px;margin:auto">
        <h1><span id="header" routerLink="/">Auth<span class="underlined">enticator</span></span></h1> 
         <br>
         <br>
         <br>
        <h2>Login</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" id="username" placeholder="Username" name="usrnm">
            <span id="msg" style="color: red;"><b>{{msg1}}</b></span>
        </div>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" id="password" placeholder="Password" name="psw">
            <span id="msg" style="color: red;"><b>{{msg2}}</b></span>
        </div>

        <button type="button" class="btn" (click)="login()">Login</button>
        <br><br>
        <a routerLink="/register"> Register</a>
        <br>
        <br>
        <span id="msg" style="color: red;padding-left: 35%;"><b>{{msg}}</b></span>
    </form>
    <hr>
</body>