<body>
    <hr>
    <form action="/action_page.php" style="max-width:500px;margin:auto">
        <h1><span id="header" routerLink="/">A<span class="underlined">uth</span></span></h1> 
         <br>
         <br>
         <br>
        <h2>Login</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Username" name="usrnm">
        </div>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Password" name="psw">
        </div>

        <button type="submit" class="btn">Login</button>
        <br><br>
        <a routerLink="/register"> Register</a>
    </form>
    <hr>
</body>