<div class="alert alert-success" *ngIf="loggedIn">
  
  <div class="container" *ngIf="currentUser;">
      <p >Logged in as {{ currentUser }}.</p>    
  </div>
  
  <button routerLink="/">Home</button>
  <br><br>
  <!-- <button (click) = "logOut()">LogOut</button> -->
</div>


<ng-container *ngIf="!loggedIn">
  <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1><span id="header" routerLink="/">Auth<span class="underlined">enticator</span></span></h1> 
            <h2 class="text-center">Registration</h2>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="addUser(addForm)" class="form col-md-12 center-block">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" ngModel name="name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" ngModel name="username" placeholder="Username" required>
                  </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg" ngModel name="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" ngModel name="type" placeholder="Type" required> 
                    <!-- change this to dropdown options -->
                  </div>
                <input type="text" class="form-control input-lg" ngModel name="address" placeholder="Address" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" ngModel name="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
                <br>
                <span class="pull-right"><a href="#" routerLink="/login">Login</a></span><span><a>Need help?</a></span>
              </div>
            </form>
        </div>
        <div class="modal-footer">  
        </div>
    </div>
    </div>
  </div>
</ng-container>
