<body>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <form #recievedUser="" style="max-width:500px;margin:auto">
         <h1><span id="header" routerLink="/">Auth<span class="underlined">enticator</span></span></h1> 
         <br>
         <br>
         <br>
        <h2>Register</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input type="text" class="input-field" id="name" placeholder="Name" name="name">
        </div>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input type="text" class="input-field" id="name" placeholder="user name" name="name">
        </div>
        
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input type="text" class="input-field" id="email" placeholder="type Email" name="name">
        </div>

        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input type="password" class="input-field" id="password" placeholder="password" name="password">
        </div>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input type="password" class="input-field" id="password2" placeholder="Repeat password" name="password">
        </div>

        <button type="button" class="btn btn-success" style="width: 100%;">Register</button>
        <br><br>
        <a routerLink="/login"> Login</a>
        <br>
        <br>
        <span id="msg" style="color: red;"><b></b></span>
    </form>
    <hr>
</body>